@font-face {
  font-family: "filefont"; /* Project id 2530138 */
  src: url('iconfont.woff2?t=1620304044912') format('woff2'),
       url('iconfont.woff?t=1620304044912') format('woff'),
       url('iconfont.ttf?t=1620304044912') format('truetype');
}

.filefont {
  font-family: "filefont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f-dgn:before {
  content: "\e63e";
}

.icon-f-swd:before {
  content: "\e73e";
}

.icon-f-dll:before {
  content: "\e63f";
}

.icon-f-tif:before {
  content: "\e73f";
}

.icon-f-diz:before {
  content: "\e640";
}

.icon-f-tiff:before {
  content: "\e740";
}

.icon-f-dmg:before {
  content: "\e641";
}

.icon-f-tmx:before {
  content: "\e741";
}

.icon-f-docm:before {
  content: "\e642";
}

.icon-f-tmp:before {
  content: "\e742";
}

.icon-f-doc:before {
  content: "\e643";
}

.icon-f-ts:before {
  content: "\e743";
}

.icon-f-docb:before {
  content: "\e644";
}

.icon-f-torrent:before {
  content: "\e744";
}

.icon-f-docx:before {
  content: "\e645";
}

.icon-f-tsx:before {
  content: "\e745";
}

.icon-f-dotm:before {
  content: "\e646";
}

.icon-f-ttf:before {
  content: "\e746";
}

.icon-f-dot:before {
  content: "\e647";
}

.icon-f-tsv:before {
  content: "\e747";
}

.icon-f-dotx:before {
  content: "\e648";
}

.icon-f-twig:before {
  content: "\e748";
}

.icon-f-download:before {
  content: "\e649";
}

.icon-f-tpl:before {
  content: "\e749";
}

.icon-f-dpj:before {
  content: "\e64a";
}

.icon-f-udf:before {
  content: "\e74a";
}

.icon-f-ds_store:before {
  content: "\e64b";
}

.icon-f-txt:before {
  content: "\e74b";
}

.icon-f-dsn:before {
  content: "\e64c";
}

.icon-f-vb:before {
  content: "\e74c";
}

.icon-f-dst:before {
  content: "\e64d";
}

.icon-f-vbproj:before {
  content: "\e74d";
}

.icon-f-dtd:before {
  content: "\e64e";
}

.icon-f-vbs:before {
  content: "\e74e";
}

.icon-f-dwg:before {
  content: "\e64f";
}

.icon-f-vcd:before {
  content: "\e74f";
}

.icon-f-dxf:before {
  content: "\e650";
}

.icon-f-vcs:before {
  content: "\e750";
}

.icon-f-elf:before {
  content: "\e651";
}

.icon-f-vdx:before {
  content: "\e751";
}

.icon-f-eml:before {
  content: "\e652";
}

.icon-f-vcf:before {
  content: "\e752";
}

.icon-f-el:before {
  content: "\e653";
}

.icon-f-vmdk:before {
  content: "\e753";
}

.icon-f-enc:before {
  content: "\e654";
}

.icon-f-vob:before {
  content: "\e754";
}

.icon-f-editorconfig:before {
  content: "\e655";
}

.icon-f-vox:before {
  content: "\e755";
}

.icon-f-eot:before {
  content: "\e656";
}

.icon-f-vsd:before {
  content: "\e756";
}

.icon-f-epub:before {
  content: "\e657";
}

.icon-f-vss:before {
  content: "\e757";
}

.icon-f-eps:before {
  content: "\e658";
}

.icon-f-vst:before {
  content: "\e758";
}

.icon-f-eslintignore:before {
  content: "\e659";
}

.icon-f-vsx:before {
  content: "\e759";
}

.icon-f-fax:before {
  content: "\e65a";
}

.icon-f-vdi:before {
  content: "\e75a";
}

.icon-f-flac:before {
  content: "\e65b";
}

.icon-f-vscodeignore:before {
  content: "\e75b";
}

.icon-f-fla:before {
  content: "\e65c";
}

.icon-f-vtx:before {
  content: "\e75c";
}

.icon-f-exe:before {
  content: "\e65d";
}

.icon-f-wav:before {
  content: "\e75d";
}

.icon-f-fv:before {
  content: "\e65e";
}

.icon-f-wbk:before {
  content: "\e75e";
}

.icon-f-fb:before {
  content: "\e65f";
}

.icon-f-webinfo:before {
  content: "\e75f";
}

.icon-f-gadget:before {
  content: "\e660";
}

.icon-f-webp:before {
  content: "\e760";
}

.icon-f-fon:before {
  content: "\e661";
}

.icon-f-webm:before {
  content: "\e761";
}

.icon-f-flv:before {
  content: "\e662";
}

.icon-f-wma:before {
  content: "\e762";
}

.icon-f-gem:before {
  content: "\e663";
}

.icon-f-war:before {
  content: "\e763";
}

.icon-f-gif:before {
  content: "\e664";
}

.icon-f-wmf:before {
  content: "\e764";
}

.icon-f-fnt:before {
  content: "\e665";
}

.icon-f-wmv:before {
  content: "\e765";
}

.icon-f-gdp:before {
  content: "\e666";
}

.icon-f-woff:before {
  content: "\e766";
}

.icon-f-gitignore:before {
  content: "\e667";
}

.icon-f-wpd:before {
  content: "\e767";
}

.icon-f-gpl:before {
  content: "\e668";
}

.icon-f-woff1:before {
  content: "\e768";
}

.icon-f-gitattributes:before {
  content: "\e669";
}

.icon-f-wps:before {
  content: "\e769";
}

.icon-f-gpg:before {
  content: "\e66a";
}

.icon-f-wsf:before {
  content: "\e76a";
}

.icon-f-gz:before {
  content: "\e66b";
}

.icon-f-xaml:before {
  content: "\e76b";
}

.icon-f-gradle:before {
  content: "\e66c";
}

.icon-f-xcf:before {
  content: "\e76c";
}

.icon-f-go:before {
  content: "\e66d";
}

.icon-f-xfl:before {
  content: "\e76d";
}

.icon-f-h:before {
  content: "\e66e";
}

.icon-f-xlb:before {
  content: "\e76e";
}

.icon-f-heic:before {
  content: "\e66f";
}

.icon-f-xlc:before {
  content: "\e76f";
}

.icon-f-hs:before {
  content: "\e670";
}

.icon-f-xls:before {
  content: "\e770";
}

.icon-f-handlebars:before {
  content: "\e671";
}

.icon-f-xlm:before {
  content: "\e771";
}

.icon-f-hsl:before {
  content: "\e672";
}

.icon-f-xlsb:before {
  content: "\e772";
}

.icon-f-hbs:before {
  content: "\e673";
}

.icon-f-xlsm:before {
  content: "\e773";
}

.icon-f-htm:before {
  content: "\e674";
}

.icon-f-xlsx:before {
  content: "\e774";
}

.icon-f-hlp:before {
  content: "\e675";
}

.icon-f-xlt:before {
  content: "\e775";
}

.icon-f-ibooks:before {
  content: "\e676";
}

.icon-f-xltx:before {
  content: "\e776";
}

.icon-f-html:before {
  content: "\e677";
}

.icon-f-xltm:before {
  content: "\e777";
}

.icon-f-icma:before {
  content: "\e678";
}

.icon-f-xml:before {
  content: "\e778";
}

.icon-f-icns:before {
  content: "\e679";
}

.icon-f-xps:before {
  content: "\e779";
}

.icon-f-ico:before {
  content: "\e67a";
}

.icon-f-xrb:before {
  content: "\e77a";
}

.icon-f-icml:before {
  content: "\e67b";
}

.icon-f-xpi:before {
  content: "\e77b";
}

.icon-f-idx:before {
  content: "\e67c";
}

.icon-f-xsl:before {
  content: "\e77c";
}

.icon-f-image:before {
  content: "\e67d";
}

.icon-f-xspf:before {
  content: "\e77d";
}

.icon-f-iff:before {
  content: "\e67e";
}

.icon-f-xz:before {
  content: "\e77e";
}

.icon-f-ics:before {
  content: "\e67f";
}

.icon-f-yaml:before {
  content: "\e77f";
}

.icon-f-ifo:before {
  content: "\e680";
}

.icon-f-yml:before {
  content: "\e780";
}

.icon-f-img:before {
  content: "\e681";
}

.icon-f-z:before {
  content: "\e781";
}

.icon-f-in:before {
  content: "\e682";
}

.icon-f-zip:before {
  content: "\e782";
}

.icon-f-iml:before {
  content: "\e683";
}

.icon-f-ga:before {
  content: "\e783";
}

.icon-f-inc:before {
  content: "\e684";
}

.icon-f-g:before {
  content: "\e784";
}

.icon-f-inf:before {
  content: "\e685";
}

.icon-f-zsh:before {
  content: "\e785";
}

.icon-f-inv:before {
  content: "\e686";
}

.icon-f-gp:before {
  content: "\e786";
}

.icon-f-indd:before {
  content: "\e687";
}

.icon-f-z1:before {
  content: "\e787";
}

.icon-f-info:before {
  content: "\e688";
}

.icon-f-aa:before {
  content: "\e788";
}

.icon-f-ini:before {
  content: "\e689";
}

.icon-f-aac:before {
  content: "\e789";
}

.icon-f-iso:before {
  content: "\e68a";
}

.icon-f-ac:before {
  content: "\e78a";
}

.icon-f-jpe:before {
  content: "\e68b";
}

.icon-f-accdb:before {
  content: "\e78b";
}

.icon-f-jar:before {
  content: "\e68c";
}

.icon-f-accdt:before {
  content: "\e78c";
}

.icon-f-java:before {
  content: "\e68d";
}

.icon-f-ace:before {
  content: "\e78d";
}

.icon-f-j:before {
  content: "\e68e";
}

.icon-f-adn:before {
  content: "\e78e";
}

.icon-f-jpeg:before {
  content: "\e68f";
}

.icon-f-aif:before {
  content: "\e78f";
}

.icon-f-jpg:before {
  content: "\e690";
}

.icon-f-aifc:before {
  content: "\e790";
}

.icon-f-json:before {
  content: "\e691";
}

.icon-f-aiff:before {
  content: "\e791";
}

.icon-f-jsp:before {
  content: "\e692";
}

.icon-f-ait:before {
  content: "\e792";
}

.icon-f-key:before {
  content: "\e693";
}

.icon-f-amr:before {
  content: "\e793";
}

.icon-f-kit:before {
  content: "\e694";
}

.icon-f-xsd:before {
  content: "\e794";
}

.icon-f-ksh:before {
  content: "\e695";
}

.icon-f-ani:before {
  content: "\e795";
}

.icon-f-kf:before {
  content: "\e696";
}

.icon-f-app:before {
  content: "\e796";
}

.icon-f-kmk:before {
  content: "\e697";
}

.icon-f-apk:before {
  content: "\e797";
}

.icon-f-js:before {
  content: "\e698";
}

.icon-f-asc:before {
  content: "\e798";
}

.icon-f-jsx:before {
  content: "\e699";
}

.icon-f-asax:before {
  content: "\e799";
}

.icon-f-kts:before {
  content: "\e69a";
}

.icon-f-applescript:before {
  content: "\e79a";
}

.icon-f-lex:before {
  content: "\e69b";
}

.icon-f-ai:before {
  content: "\e79b";
}

.icon-f-kt:before {
  content: "\e69c";
}

.icon-f-ascx:before {
  content: "\e79c";
}

.icon-f-licx:before {
  content: "\e69d";
}

.icon-f-asf:before {
  content: "\e79d";
}

.icon-f-lisp:before {
  content: "\e69e";
}

.icon-f-ash:before {
  content: "\e79e";
}

.icon-f-kup:before {
  content: "\e69f";
}

.icon-f-ashx:before {
  content: "\e79f";
}

.icon-f-less:before {
  content: "\e6a0";
}

.icon-f-asm:before {
  content: "\e7a0";
}

.icon-f-list:before {
  content: "\e6a1";
}

.icon-f-asmx:before {
  content: "\e7a1";
}

.icon-f-lock:before {
  content: "\e6a2";
}

.icon-f-asp:before {
  content: "\e7a2";
}

.icon-f-lit:before {
  content: "\e6a3";
}

.icon-f-aspx:before {
  content: "\e7a3";
}

.icon-f-lua:before {
  content: "\e6a4";
}

.icon-f-asx:before {
  content: "\e7a4";
}

.icon-f-log:before {
  content: "\e6a5";
}

.icon-f-au:before {
  content: "\e7a5";
}

.icon-f-lnk:before {
  content: "\e6a6";
}

.icon-f-avi:before {
  content: "\e7a6";
}

.icon-f-mu:before {
  content: "\e6a7";
}

.icon-f-aup:before {
  content: "\e7a7";
}

.icon-f-mr:before {
  content: "\e6a8";
}

.icon-f-bak:before {
  content: "\e7a8";
}

.icon-f-mu1:before {
  content: "\e6a9";
}

.icon-f-aze:before {
  content: "\e7a9";
}

.icon-f-mv:before {
  content: "\e6aa";
}

.icon-f-axd:before {
  content: "\e7aa";
}

.icon-f-ma:before {
  content: "\e6ab";
}

.icon-f-bash:before {
  content: "\e7ab";
}

.icon-f-m:before {
  content: "\e6ac";
}

.icon-f-bat:before {
  content: "\e7ac";
}

.icon-f-m1:before {
  content: "\e6ad";
}

.icon-f-bin:before {
  content: "\e7ad";
}

.icon-f-master:before {
  content: "\e6ae";
}

.icon-f-blank:before {
  content: "\e7ae";
}

.icon-f-mdb:before {
  content: "\e6af";
}

.icon-f-bmp:before {
  content: "\e7af";
}

.icon-f-md:before {
  content: "\e6b0";
}

.icon-f-bowerrc:before {
  content: "\e7b0";
}

.icon-f-map:before {
  content: "\e6b1";
}

.icon-f-bpg:before {
  content: "\e7b1";
}

.icon-f-mdf:before {
  content: "\e6b2";
}

.icon-f-browser:before {
  content: "\e7b2";
}

.icon-f-mv1:before {
  content: "\e6b3";
}

.icon-f-bz:before {
  content: "\e7b3";
}

.icon-f-mc:before {
  content: "\e6b4";
}

.icon-f-bzempty:before {
  content: "\e7b4";
}

.icon-f-me:before {
  content: "\e6b5";
}

.icon-f-c:before {
  content: "\e7b5";
}

.icon-f-mid:before {
  content: "\e6b6";
}

.icon-f-cab:before {
  content: "\e7b6";
}

.icon-f-midi:before {
  content: "\e6b7";
}

.icon-f-cad:before {
  content: "\e7b7";
}

.icon-f-mm:before {
  content: "\e6b8";
}

.icon-f-caf:before {
  content: "\e7b8";
}

.icon-f-mi:before {
  content: "\e6b9";
}

.icon-f-mkv:before {
  content: "\e6ba";
}

.icon-f-mk:before {
  content: "\e6bb";
}

.icon-f-mng:before {
  content: "\e6bc";
}

.icon-f-mo:before {
  content: "\e6bd";
}

.icon-f-mp:before {
  content: "\e6be";
}

.icon-f-mov:before {
  content: "\e6bf";
}

.icon-f-mp1:before {
  content: "\e6c0";
}

.icon-f-mod:before {
  content: "\e6c1";
}

.icon-f-mp2:before {
  content: "\e6c2";
}

.icon-f-mpd:before {
  content: "\e6c3";
}

.icon-f-mpe:before {
  content: "\e6c4";
}

.icon-f-mobi:before {
  content: "\e6c5";
}

.icon-f-mpg:before {
  content: "\e6c6";
}

.icon-f-mpt:before {
  content: "\e6c7";
}

.icon-f-mpga:before {
  content: "\e6c8";
}

.icon-f-mpeg:before {
  content: "\e6c9";
}

.icon-f-mpp:before {
  content: "\e6ca";
}

.icon-f-mpa:before {
  content: "\e6cb";
}

.icon-f-msi:before {
  content: "\e6cc";
}

.icon-f-msu:before {
  content: "\e6cd";
}

.icon-f-msg:before {
  content: "\e6ce";
}

.icon-f-nes:before {
  content: "\e6cf";
}

.icon-f-nfo:before {
  content: "\e6d0";
}

.icon-f-nix:before {
  content: "\e6d1";
}

.icon-f-npmignore:before {
  content: "\e6d2";
}

.icon-f-nef:before {
  content: "\e6d3";
}

.icon-f-odb:before {
  content: "\e6d4";
}

.icon-f-odt:before {
  content: "\e6d5";
}

.icon-f-ogg:before {
  content: "\e6d6";
}

.icon-f-ogv:before {
  content: "\e6d7";
}

.icon-f-ods:before {
  content: "\e6d8";
}

.icon-f-ocx:before {
  content: "\e6d9";
}

.icon-f-ott:before {
  content: "\e6da";
}

.icon-f-one:before {
  content: "\e6db";
}

.icon-f-ost:before {
  content: "\e6dc";
}

.icon-f-otf:before {
  content: "\e6dd";
}

.icon-f-ova:before {
  content: "\e6de";
}

.icon-f-pb:before {
  content: "\e6df";
}

.icon-f-part:before {
  content: "\e6e0";
}

.icon-f-p:before {
  content: "\e6e1";
}

.icon-f-pages:before {
  content: "\e6e2";
}

.icon-f-partial:before {
  content: "\e6e3";
}

.icon-f-pbix:before {
  content: "\e6e4";
}

.icon-f-ovf:before {
  content: "\e6e5";
}

.icon-f-pem:before {
  content: "\e6e6";
}

.icon-f-pcd:before {
  content: "\e6e7";
}

.icon-f-pdf:before {
  content: "\e6e8";
}

.icon-f-pfx:before {
  content: "\e6e9";
}

.icon-f-pgp:before {
  content: "\e6ea";
}

.icon-f-pdb:before {
  content: "\e6eb";
}

.icon-f-ph:before {
  content: "\e6ec";
}

.icon-f-pid:before {
  content: "\e6ed";
}

.icon-f-pkg:before {
  content: "\e6ee";
}

.icon-f-php:before {
  content: "\e6ef";
}

.icon-f-phar:before {
  content: "\e6f0";
}

.icon-f-po:before {
  content: "\e6f1";
}

.icon-f-png:before {
  content: "\e6f2";
}

.icon-f-plist:before {
  content: "\e6f3";
}

.icon-f-pl:before {
  content: "\e6f4";
}

.icon-f-pom:before {
  content: "\e6f5";
}

.icon-f-pm:before {
  content: "\e6f6";
}

.icon-f-pps:before {
  content: "\e6f7";
}

.icon-f-potx:before {
  content: "\e6f8";
}

.icon-f-ppk:before {
  content: "\e6f9";
}

.icon-f-pot:before {
  content: "\e6fa";
}

.icon-f-ppt:before {
  content: "\e6fb";
}

.icon-f-ppsx:before {
  content: "\e6fc";
}

.icon-f-pptx:before {
  content: "\e6fd";
}

.icon-f-ps:before {
  content: "\e6fe";
}

.icon-f-prop:before {
  content: "\e6ff";
}

.icon-f-psp:before {
  content: "\e700";
}

.icon-f-psd:before {
  content: "\e701";
}

.icon-f-pst:before {
  content: "\e702";
}

.icon-f-pptm:before {
  content: "\e703";
}

.icon-f-ps1:before {
  content: "\e704";
}

.icon-f-pub:before {
  content: "\e705";
}

.icon-f-pyc:before {
  content: "\e706";
}

.icon-f-ram:before {
  content: "\e707";
}

.icon-f-rb:before {
  content: "\e708";
}

.icon-f-rdl:before {
  content: "\e709";
}

.icon-f-raw:before {
  content: "\e70a";
}

.icon-f-rdf:before {
  content: "\e70b";
}

.icon-f-reg:before {
  content: "\e70c";
}

.icon-f-ra:before {
  content: "\e70d";
}

.icon-f-rar:before {
  content: "\e70e";
}

.icon-f-qt:before {
  content: "\e70f";
}

.icon-f-py:before {
  content: "\e710";
}

.icon-f-rpt:before {
  content: "\e711";
}

.icon-f-rm:before {
  content: "\e712";
}

.icon-f-retry:before {
  content: "\e713";
}

.icon-f-cd:before {
  content: "\e614";
}

.icon-f-rpm:before {
  content: "\e714";
}

.icon-f-cal:before {
  content: "\e615";
}

.icon-f-resx:before {
  content: "\e715";
}

.icon-f-cfg:before {
  content: "\e616";
}

.icon-f-rom:before {
  content: "\e716";
}

.icon-f-cer:before {
  content: "\e617";
}

.icon-f-rub:before {
  content: "\e717";
}

.icon-f-cgi:before {
  content: "\e618";
}

.icon-f-ru:before {
  content: "\e718";
}

.icon-f-cfm:before {
  content: "\e619";
}

.icon-f-save:before {
  content: "\e719";
}

.icon-f-cfml:before {
  content: "\e61a";
}

.icon-f-sass:before {
  content: "\e71a";
}

.icon-f-cdda:before {
  content: "\e61b";
}

.icon-f-rst:before {
  content: "\e71b";
}

.icon-f-cmd:before {
  content: "\e61c";
}

.icon-f-sesx:before {
  content: "\e71c";
}

.icon-f-code-workspace:before {
  content: "\e61d";
}

.icon-f-rss:before {
  content: "\e71d";
}

.icon-f-codekit:before {
  content: "\e61e";
}

.icon-f-scss:before {
  content: "\e71e";
}

.icon-f-codekit1:before {
  content: "\e61f";
}

.icon-f-sed:before {
  content: "\e71f";
}

.icon-f-class:before {
  content: "\e620";
}

.icon-f-sit:before {
  content: "\e720";
}

.icon-f-com:before {
  content: "\e621";
}

.icon-f-rsa:before {
  content: "\e721";
}

.icon-f-coffeelintignore:before {
  content: "\e622";
}

.icon-f-rtf:before {
  content: "\e722";
}

.icon-f-chm:before {
  content: "\e623";
}

.icon-f-sitemap:before {
  content: "\e723";
}

.icon-f-config:before {
  content: "\e624";
}

.icon-f-sldm:before {
  content: "\e724";
}

.icon-f-conf:before {
  content: "\e625";
}

.icon-f-sdf:before {
  content: "\e725";
}

.icon-f-compile:before {
  content: "\e626";
}

.icon-f-sketch:before {
  content: "\e726";
}

.icon-f-cr:before {
  content: "\e627";
}

.icon-f-skin:before {
  content: "\e727";
}

.icon-f-cpp:before {
  content: "\e628";
}

.icon-f-sln:before {
  content: "\e728";
}

.icon-f-cptx:before {
  content: "\e629";
}

.icon-f-sldx:before {
  content: "\e729";
}

.icon-f-crdownload:before {
  content: "\e62a";
}

.icon-f-sh:before {
  content: "\e72a";
}

.icon-f-crypt:before {
  content: "\e62b";
}

.icon-f-sol:before {
  content: "\e72b";
}

.icon-f-crt:before {
  content: "\e62c";
}

.icon-f-srt:before {
  content: "\e72c";
}

.icon-f-cson:before {
  content: "\e62d";
}

.icon-f-sqlite:before {
  content: "\e72d";
}

.icon-f-csh:before {
  content: "\e62e";
}

.icon-f-sql:before {
  content: "\e72e";
}

.icon-f-cs:before {
  content: "\e62f";
}

.icon-f-step:before {
  content: "\e72f";
}

.icon-f-csv:before {
  content: "\e630";
}

.icon-f-sphinx:before {
  content: "\e730";
}

.icon-f-css:before {
  content: "\e631";
}

.icon-f-stl:before {
  content: "\e731";
}

.icon-f-cur:before {
  content: "\e632";
}

.icon-f-svg:before {
  content: "\e732";
}

.icon-f-csproj:before {
  content: "\e633";
}

.icon-f-sub:before {
  content: "\e733";
}

.icon-f-cue:before {
  content: "\e634";
}

.icon-f-swf:before {
  content: "\e734";
}

.icon-f-coffee:before {
  content: "\e635";
}

.icon-f-tar:before {
  content: "\e735";
}

.icon-f-db:before {
  content: "\e636";
}

.icon-f-tex:before {
  content: "\e736";
}

.icon-f-dat:before {
  content: "\e637";
}

.icon-f-sys:before {
  content: "\e737";
}

.icon-f-data:before {
  content: "\e638";
}

.icon-f-tax:before {
  content: "\e738";
}

.icon-f-dbf:before {
  content: "\e639";
}

.icon-f-tfignore:before {
  content: "\e739";
}

.icon-f-deb:before {
  content: "\e63a";
}

.icon-f-swp:before {
  content: "\e73a";
}

.icon-f-default:before {
  content: "\e63b";
}

.icon-f-tga:before {
  content: "\e73b";
}

.icon-f-dist:before {
  content: "\e63c";
}

.icon-f-tcsh:before {
  content: "\e73c";
}

.icon-f-dng:before {
  content: "\e63d";
}

.icon-f-tgz:before {
  content: "\e73d";
}

